<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      

      <div class="inner cover">
        <h1 class="cover-heading">Never miss an episode.</h1>
        <p class="lead">Show reminded will email you when the newest episode of a show will air so you don't have to keep track of it yourself!.</p>
        <p class="lead">
          <%= link_to "Sign up!", '#', class: "btn btn-lg btn-danger" %>
        </p>
      </div>

    
    </div>

  </div>

</div>

