    	<div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand coverfont">Show Reminder</h3>
          <ul class="nav masthead-nav">
            <li class="active"><%= link_to "Home", root_path%></li>
            <li><%= link_to "Features", '#' %></li>
            <li><%= link_to "Log in", root_path%></li>
          </ul>
        </div>
      </div>
 
